<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Testing on Local Reposotory ......</title>
    <title>Testing master branch</title>
    <h2>This is Dev 1</h2>
    <h1>this is Dev1 Again</h1>
    <H1>Changesssssasds 2 </H1>
    <p1>sadsadsadsa in Dev1</p1>
    <p1>This is Rebase 1 First Commit</p1>
    <p1>This is Rebase 1 Second Commit</p1>
    <p1>This is Rebase 2 First Change</p1>
    <p1>This is Rebase 2 Second Change</p1>

    <p1>First Commit for rebasing</p1>
</head>
<body>

</body>
</html>
